:root {
  --primary-color: hsl(225, 100%, 94%);
  --secondary-color: hsl(245, 75%, 52%);
  --secondary-color-light: hsla(245, 75%, 52%, 0.493);
  --secondary-color-shadow: #dcd8fb;
  --tertiary-color: hsl(225, 100%, 98%);
  --quarternary-color: hsl(224, 23%, 55%);
  --quinary-color: hsl(223, 47%, 23%);
  --senary-color: white;
  --septenary-color: #b1b7cd;
}
body {
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  font-family: "Red Hat Display", sans-serif;
}

main {
  box-shadow: 0px 8px 5px var(--septenary-color);
  border-radius: 0px 0px 15px 15px;
}
.img-content {
  height: 150px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/illustration-hero.svg);
  background-size: 100% 100%;
}
.text-content {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  border-radius: 0px 0px 15px 15px;
}

.title {
  text-align: center;
  margin: 20px;
  font-weight: 900;
  font-size: 20px;
}
.paragraph {
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  color: var(--septenary-color);
  max-width: 230px;
}

.mini-card {
  background: url(images/icon-music.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position-y: 50%;
  position: relative;
  padding: 10px 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-mini-card {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.title-mini-card,
.price {
  position: relative;
  left: -40%;
}
